.blur {
  width: 300px;
  height: 300px;
  filter: blur(120px);
}

.hover-orange:hover {
  color: #f66d14 !important;
}

.input-dark::placeholder {
  color: #9ca3af;
  padding-left: 4px !important;
}
